{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pre-employment checks – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}




{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

  {% include 'hub/candidate/includes/key-details-candidate.html' %}

{% endblock %}
{% block content %}



<div class="govuk-grid-row">

{% include 'hub/candidate/includes/tab-header-pec-list.html' %}


    <div class="govuk-tabs" style="margin-top:0px">

      <div class="govuk-tabs__panel" id="pecs">

        <h1 class="govuk-heading-l" style="margin-bottom:25px">
          DBS (Disclosure & Barring Service)
        </h1><br>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <div class="govuk-panel govuk-panel--confirmation" style="background-color:#d2e2f1; color:#000000">
              <h1 class="govuk-panel__title">
                This check is in progress
              </h1>
              <div class="govuk-panel__body">
                You do not need to do anything<br>
              </div>
            </div>

            <dl class="govuk-summary-list" style="font-size:x-large">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What is this check?
                </dt>
                <dd class="govuk-summary-list__value">
                  It checks the criminal record of someone applying for a role. This role requires a <a href="https://www.gov.uk/guidance/basic-dbs-checks-guidance">Basic DBS check</a>, which looks for unspent convictions and conditional cautions.<br><br>


                    <strong style="font-size:x-large">
                      We can decline your employment offer if we find any criminal information on the DBS check that might affect your application.
                    </strong>

                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How long will it take?
                </dt>
                <dd class="govuk-summary-list__value">
                    This check usually takes about two working days
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What can make the check take longer than usual?
                </dt>
                <dd class="govuk-summary-list__value">
                    It is checked by a different department than most of the other checks. We do not know how busy they are.<br><br>
                    If something is found in the check that needs to be investigated further, this will make the check take longer. You will be contacted if any further information is needed from you.
                </dd>
              </div>

            </dl><br>
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Go back",
                href:"javascript:history.go(-1)"
              }) }}
            </div>

          </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}
