{% extends "layouts/accordion.html" %}

{% block pageTitle %}
  Pre-employment checks – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{% include 'includes/user-header-single-view.html' %}

        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

        {% include 'includes/key-details-recruiter.html' %}

        {% endblock %}
{% block content %}

<div class="govuk-grid-row">
{% include 'includes/tab-header-uploads.html' %}
  <div class="govuk-tabs">
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-accordion-history-uploads1-eehc" style="margin-bottom:0px">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-accordion-history-uploads1-eehc-heading-1" style="border-top:none">
          Employment history <span style="font-size:16px; color:#505a5f">(PDF)
        </span><br>
        <div id="changed-name-hint" class="govuk-hint">
      Uploaded 7 Nov 2022 by Steve Evans (candidate)
    </div>
      </h2>
    </div>
    <div id="accordion-history-uploads-eehc-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-accordion-history-uploads1-eehc-heading-1" style="font-size:18px">
      <p class='govuk-body'> </p>
    </div>
  </div>

</div>
</div>

<div class="govuk-tabs">
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-accordion-history-uploads2-eehc" style="margin-bottom:0px">
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-accordion-history-uploads2-eehc-heading-1" style="border-top:none">
        CV  <span style="font-size:16px; color:#505a5f">(PDF)
      </span><br>
      <div id="changed-name-hint" class="govuk-hint">
    Uploaded 7 Nov 2022 by Steve Evans (candidate)
  </div>
    </h2>
  </div>
  <div id="accordion-history-uploads2-eehc-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-history-uploads2-eehc-heading-1" style="font-size:18px">
    <p class='govuk-body'> </p>
  </div>
</div>

</div>
</div>




{% endblock %}
