{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pre-employment checks – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'Your <a href"">feedback</a> will help us to improve.'
})}}
{% include 'previous-versions/recruiter-ver1/includes/user-header.html' %}



        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

        {% include 'previous-versions/recruiter-ver1/includes/key-details-grs.html' %}

        {% endblock %}
{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l" style="margin-bottom:25px">
      Previous Civil Service Employment<span>{% if data['prev-cs-status'] == 'completed' %}
        <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="margin-top:15px; margin-left:20px; float:none">Completed</strong>
      {% elif data['prev-cs-status'] == 'not-started' %}
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="margin-top:15px; margin-left:20px; float:none">Not started</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status" style="margin-top:15px; margin-left:20px; float:none">In progress</strong>
      {% endif %}</span>
    </h1><br>


<form action="" method="post">

  {% if data['prev-cs-status'] == 'completed' %}
      {{ govukRadios({
        name: "cs-status",
        fieldset: {
          legend: {
            text: "Change status to:",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "in-progress~/recruiter-ver1/grs/pec-task-list?prev-cs-status=in-progress",
          text: "In progress"
        },
          {
            value: "not-started~/recruiter-ver1/grs/pec-task-list?prev-cs-status=not-started",
            text: "Not started"
          }
        ]
      }) }}
  {% elif data['self-employed-status'] == 'not-started' %}
      {{ govukRadios({
        name: "cs-status",
        fieldset: {
          legend: {
            text: "Change status to:",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "completed~/recruiter-ver1/grs/pec-task-list?prev-cs-status=completed",
            text: "Completed"
          },
          {
            value: "in-progress~/recruiter-ver1/grs/pec-task-list?prev-cs-status=in-progress",
            text: "In progress"
          }
        ]
    }) }}
  {% else %}
      {{ govukRadios({
        name: "cs-status",
        fieldset: {
          legend: {
            text: "Change status to:",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "completed~/recruiter-ver1/grs/pec-task-list?prev-cs-status=completed",
            text: "Completed"
          },
          {
            value: "not-started~/recruiter-ver1/grs/pec-task-list?prev-cs-status=not-started",
            text: "Not started"
          }
        ]
      }) }}
  {% endif %}


<br>


<div class="govuk-button-group">
  {{ govukButton({
    text: "Change"
  }) }}

  <a class="govuk-link" href="self-employment">Back</a>
</div>
</form>

  </div>
</div>

{% endblock %}
