<section class="dwp-key-details-bar" style="margin-top:20px" aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__primary" style="font-weight:bold">Jane Doe</dd>
    <dt class="govuk-visually-hidden">Application ID:</dt>
    <dt style="padding-left:20px">Application ID:</dt>
    <dd class="dwp-key-details-bar__secondary" style="font-weight:bold">2007</dd>
    <dt style="padding-left:20px">Vacancy:</dt>
    <dd style="font-weight:bold">Service Designer</dd>
    <dt style="padding-left:20px">Dept:</dt>
    <dd style="font-weight:bold">Cabinet Office</dd>
</dl>

</div>
</section>
