<section class="dwp-key-details-bar" aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__primary" style="font-size:25px">Steve Evans</dd>
    <dd class="dwp-key-details-bar__secondary" style="padding-left:15px; font-size:20px; margin-top:5px">Application ID: 2987</dd>
    <dd class="dwp-key-details-bar__secondary" style="padding-left:15px; font-size:20px; margin-top:5px">Application type: external</dd>

</dl>
<dl class="dwp-key-details-bar__bottom-block">

    <dt>Candidate email:</dt>
    <dd>steve.evans@outlook.co.uk</dd>
    <dt style="padding-left:15px">Vacancy:</dt>
    <dd>873 - Internal Audit PO</dd>
    <dt style="padding-left:15px">Dept:</dt>
    <dd>HMCTS</dd>
</dl>
</div>
</section>
