<section class="dwp-key-details-bar" aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__primary">Jane Johnson</dd>
    <dd class="dwp-key-details-bar__secondary">Application ID: 1048</dd>
    <dt class="govuk-visually-hidden">Claim status:</dt>

</dl>
<dl class="dwp-key-details-bar__bottom-block">

    <dt>Vacancy:</dt>
    <dd>342 - Admin Officer</dd>
    <dt style="padding-left:25px">Dept:</dt>
    <dd>HM Revenue and Customs</dd>
    <dt style="padding-left:25px">Assigned to:</dt>
    <dd>Karim Iqbal</dd>
</dl>
</div>
</section>
