{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pre-employment checks – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}




{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

  {% include 'hub/candidate/includes/key-details-candidate.html' %}

{% endblock %}
{% block content %}




      <div class="govuk-width-container">

        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <form action="work" method="post" novalidate>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        Have you ever been a member of a public service pension scheme?
                      </h1>
                    </legend>
                    <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          I don’t understand this question
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        You may have a public service pension if you've ever worked in a public service job. For example, if you've worked in:
                        <ul class="govuk-list govuk-list--bullet" style="padding-top:10px">
                          <li>teaching</li>
                          <li>the armed forces</li>
                          <li>the judiciary</li>
                          <li>the Civil Service or local government</li>
                          <li>the emergency services</li>
                        </ul>
                      </div>
                    </details>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-live" name="pension" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-live-2" name="pension" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                          No
                        </label>
                      </div>

                    </div>
                  </fieldset>
                </div>
                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>

            </div>
          </div>
        </main>
      </div>











</main>
{% endblock %}
