{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pre-employment checks – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{% include 'includes/user-header-recruiter-manager.html' %}



        {{ govukBackLink({
          text: "Back",
          href: "javascript:history.go(-1)"
        }) }}

        {% include 'includes/key-details-recruiter.html' %}

        {% endblock %}
{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l" style="margin-bottom:25px">
      Self-employment<span>{% if data['self-employed-status'] == 'passed' %}
        <strong class="govuk-tag govuk-tag--bright-green app-task-list__tag" id="financial-evidence-status" style="margin-top:15px; margin-left:20px; float:none">Passed</strong>
      {% elif data['self-employed-status'] == 'not-started' %}
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="margin-top:15px; margin-left:20px; float:none">Not started</strong>
      {% elif data['self-employed-status'] == 'risk-assessment' %}
        <strong class="govuk-tag govuk-tag--bright-red app-task-list__tag" id="financial-evidence-status" style="margin-top:15px; margin-left:20px; float:none">Risk assessment needed</strong>
      {% elif data['self-employed-status'] == 'failed' %}
        <strong class="govuk-tag govuk-tag--black app-task-list__tag" id="financial-evidence-status" style="margin-top:15px; margin-left:20px; float:none">Failed</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="financial-evidence-status" style="margin-top:15px; margin-left:20px; float:none">In progress</strong>
      {% endif %}</span>
    </h1>




              <div class="moj-timeline">
                <div class="moj-timeline__item">

                  <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">Marked as 'In progress'</h2>

                    <p class="moj-timeline__byline">by Chris Ure</p>

                  </div>

                  <p class="moj-timeline__date">
                    <time datetime="2019-06-14T14:01:00.000Z">14 June 2019 at 2:01pm</time>
                  </p>
                  <div class="moj-timeline__description">
                    Note added: ID checked

                  </div>
                </div>
                <div class="moj-timeline__item">

                  <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">Documents uploaded</h2>

                    <p class="moj-timeline__byline">by Steve Evans</p>

                  </div>

                  <p class="moj-timeline__date">
                    <time datetime="2019-05-28T10:15:00.000Z">7 June 2019 at 12:36pm</time>
                  </p>

                  <div class="moj-timeline__description">
                    <ul class="moj-timeline__documents">
                      <li class="moj-timeline__document-item">
                        <a class="govuk-link" href="#">
                          <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                            <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z" />
                          </svg>
                          Companies House registration (PDF)
                        </a>
                      </li>
                      <li class="moj-timeline__document-item">
                        <a class="govuk-link" href="#">
                          <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                            <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z" />
                          </svg>
                          Accountant details (PDF)
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>
                <div class="moj-timeline__item">

                  <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">Full candidate PEC form submitted</h2>

                    <p class="moj-timeline__byline">by Steve Evans</p>

                  </div>

                  <p class="moj-timeline__date">
                    <time datetime="2019-06-07T12:32:00.000Z">7 June 2019 at 12:32pm</time>
                  </p>

                </div>

                <div class="moj-timeline__item" style="padding-bottom:0px">
                  <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">PEC set up</h2>
                    <p class="moj-timeline__byline">by System</p>
                  </div>
                  <p class="moj-timeline__date">
                    <time datetime="2019-06-06T09:12:00.000Z">6 June 2019 at 9:12am</time>
                  </p>

                </div>

              </div>

              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Options",
                  href: "change-status"
                }) }}

                <a class="govuk-link" href="pec-task-list">Back</a>
              </div>


  </div>
</div>

{% endblock %}
