{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pre-employment checks – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}




{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}

  {% include 'hub/candidate/includes/key-details-candidate.html' %}

{% endblock %}
{% block content %}


<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <header class="page-header">
                <h1 class="govuk-heading-l">Information we need for your pre-employment checks</h1>
            </header><br>


            <div class="govuk-width-container">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m">1. Personal details</h2>
          <ol class="app-task-list">
            <li>

              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                  {% if data['personal-details-complete']=='true'%}
                    <a href="personal-details-questions/personal-details-cya" aria-describedby="eligibility-status">
                      Change your personal details
                    </a>
                  {% else %}
                    <a href="personal-details-questions/date-of-birth" aria-describedby="eligibility-status">
                      Add your personal details
                    </a>
                    {% endif %}
                  </span>

                  <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

                </li>

                </ul>
                </li>
            </ol>
          </div>
        </div>



        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">2. Additional information</h2>
            <ol class="app-task-list">
              <li>

                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      {% if data['more-details-complete']=='true'%}
                      <a href="filter-questions/filter-questions-cya" aria-describedby="eligibility-status">
                        Change additional information
                      </a>
                      {% else %}
                      <a href="filter-questions/current-passport" aria-describedby="eligibility-status">
                        Add additional information
                      </a>
                      {% endif %}
                    </span>

                    <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

                  </li>

                  </ul>
                  </li>
              </ol>
            </div>
            </div>

{% if data['more-details-complete']=='true'%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m">3. Pre-employment checks</h2>

  <div class="govuk-inset-text">
    Your list of checks is generated by the answers you gave in section 2 above. If you change your answers in section 2, the number and type of checks shown below might change.
  </div>

  {% if data['pensionadvisor'] == 'No'%}
  <p>You have completed 1 of 7 sections</p>
  {% elif data ['establisher-company-numbers-completed'] == 'true'%}
  <p>You have completed 1 of 6 sections</p>
  {% else %}
  <p>You have completed 0 of 6 sections</p>
  {% endif %}

  <ol class="app-task-list">
    <li>
      <ul class="app-task-list__items">



        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="pecs/rtw" aria-describedby="eligibility-status">
              Add information about your Right to Work
            </a>
          </span>

          <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

        </li>

        {% if data['nino']=='yes'%}
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="pecs/employment-history" aria-describedby="eligibility-status">
                      Add your National Insurance number
                    </a>
                  </span>

                  <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>
                
                </li>
        {% endif %}

{% if data['lived-outside-uk']=='yes'%}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="pecs/employment-history" aria-describedby="eligibility-status">
              Add information about your time outside the UK
            </a>
          </span>

          <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

        </li>
{% endif %}


        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="pecs/health/" aria-describedby="eligibility-status">
              Add a health declaration
            </a>
          </span>

          <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

        </li>


{% if data['employed']=='yes'%}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="checks/employment-history/start" aria-describedby="eligibility-status">
              Check information about your employment history
            </a>
          </span>

          <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

        </li>
{% endif %}


{% if data['self-employed']=='yes'%}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="pecs/self-employed" aria-describedby="eligibility-status">
              Add information about your self employment
            </a>
          </span>

          <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

        </li>
{% endif %}


{% if data['references-needed']=='yes'%}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="checks/references/start" aria-describedby="eligibility-status">
              Add your references
            </a>
          </span>

          <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

        </li>
{% endif %}



{% if data['previous-cs']=='yes'%}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="pecs/previous-cs-employment" aria-describedby="eligibility-status">
              Add your previous Civil Service employment
            </a>
          </span>

          <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

        </li>
{% endif %}



{% if data['pension']=='yes'%}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="pecs/pensions/" aria-describedby="eligibility-status">
              Add your public sector pensions
            </a>
          </span>

          <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

        </li>
{% endif %}

{% if data['bankrupt']=='yes'%}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="pecs/bankrupt/" aria-describedby="eligibility-status">
              Add information about your bankruptcy or insolvency
            </a>
          </span>

          <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status">complete</strong>

        </li>
{% endif %}

      </ul>
    </li>
  </ol>
  {% endif %}
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">4. Declaration</h2>
    <ol class="app-task-list">
      <li>

        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="declaration" aria-describedby="eligibility-status">
                Read and accept the declaration
              </a>

            </span>

            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">not started</strong>

          </li>

          </ul>
          </li>
      </ol>
    </div>
    </div>

</main>
{% endblock %}
