
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        CS Jobs - PEC prototype
      </h1>

      <div class="govuk-tabs" data-module="govuk-tabs">
       <h2 class="govuk-tabs__title">
         Contents
       </h2>
       <ul class="govuk-tabs__list">
         <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
           <a class="govuk-tabs__tab" href="#shortcuts">
             Shortcuts
           </a>
         </li>
         <li class="govuk-tabs__list-item">
           <a class="govuk-tabs__tab" href="#versions">
             Changes
           </a>
         </li>
         </ul>
         <div class="govuk-tabs__panel" id="shortcuts">
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <br>

      <h3 class="govuk-heading-m">Single view - Recruiter (checker)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/previous-versions/recruiter-ver2/single-view/dashboard-ao-candidate">Dashboard - candidate allocated</a> (start of journey)
        </li>
        <li>
          <a href="/previous-versions/recruiter-ver2/single-view/dashboard-ao-task?single-or-multiple=single">Dashboard - single task allocated</a> (start of journey)
        </li>
        <li>
          <a href="/previous-versions/recruiter-ver2/single-view/dashboard-ao-task?single-or-multiple=multiple">Dashboard - multiple tasks allocated</a> (start of journey)
        </li>
      </ul>
      <br>

      <h3 class="govuk-heading-m">Recruiter (manager)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/previous-versions/recruiter-ver2/recruiter-manager/sign-in">Sign in</a> (start of journey)
        </li>
        <li>
          <a href="/previous-versions/recruiter-ver2/recruiter-manager/recruiter-manager-dashboard">Dashboard - multiple candidates & search</a>
        </li>
        <li>
          <a href="/previous-versions/recruiter-ver2/recruiter-manager/pec-task-list">PEC task list</a>
        </li>
        <li>
          <a href="/previous-versions/recruiter-ver2/recruiter-manager/change-status-prev-civil-service">Change task status</a>
        </li>
      </ul>



          <h3 class="govuk-heading-m">Documents</h3>
<p><a href="https://cshrdigitalandanalysis.atlassian.net/l/cp/q31fo8gM" target="_blank">Confluence page - prototype login etc</a></p>
<p><a href="https://cshrdigitalandanalysis.atlassian.net/l/cp/JB8b1FWo" target="_blank">Confluence page - process flow for each check</a></p>

</div>
</div>
</div>
 <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="versions">
   <table class="govuk-table">
               <caption class="govuk-table__caption govuk-heading-m">Previously tested versions</caption>
               <thead class="govuk-table__head">

                 <tr class="govuk-table__row">
                   <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
                   <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
                   <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Changes</th>
                   <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Status</th>
                 </tr>
               </thead>
               <tbody class="govuk-table__body">
                 <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">
                     <a href="/previous-versions/recruiter-ver2/index" target="_blank">Version 2</th>
                     <td class="govuk-table__cell">29 Nov 2022</td>
                     <td class="govuk-table__cell">
                       <details class="govuk-details" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                           <span class="govuk-details__summary-text">
                             Version 2
                           </span>
                         </summary>
                         <div class="govuk-details__text">
                           <ul class="govuk-list--bulletlist">
                             <li>
                               single view version with variants: single task allocated, multiple tasks allocated, whole candidate allocated
                             </li>
                             <li>
                               Emails added to action history to demonstrate possible comms links
                            </li>
                            <li>
                              Mark as Complete option
                            </li>
                           </ul>
                         </div>
                       </details>
                     </td>
                     <td class="govuk-table__cell">
                       <strong class="govuk-tag govuk-tag--green">
                         tested
                       </strong>
                     </tr>
                 <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">
                     <a href="/recruiter-ver1/index" target="_blank">Version 1</th>
                     <td class="govuk-table__cell">11 Nov 2022</td>
                     <td class="govuk-table__cell">
                       <details class="govuk-details" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                           <span class="govuk-details__summary-text">
                             Version 1
                           </span>
                         </summary>
                         <div class="govuk-details__text">
                           <ul class="govuk-list--bulletlist">
                             <li>
                               sign in
                             </li>
                             <li>
                               sign in (2FA)
                             </li>
                             <li>
                               dummy recruiter (manager) dashboard
                             </li>
                             <li>
                               initial recruiter (manager) checklist
                             </li>
                             <li>
                               check details (expand)
                             </li>
                             <li>
                               check details (separate page)
                             </li>
                           </ul>
                         </div>
                       </details>
                     </td>
                     <td class="govuk-table__cell">
                       <strong class="govuk-tag govuk-tag--green">
                         tested
                       </strong>
                     </tr>
                 </tbody>
               </table>
</div>
</div>
    </div>
  </div>

{% endblock %}
