
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        CS Jobs - PEC prototype
      </h1>

      <div class="govuk-tabs" data-module="govuk-tabs">
       <h2 class="govuk-tabs__title">
         Contents
       </h2>
       <ul class="govuk-tabs__list">
         <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
           <a class="govuk-tabs__tab" href="#candidate">
             Candidate
           </a>
         </li>
         <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
           <a class="govuk-tabs__tab" href="#recruiter">
             Recruiter
           </a>
         </li>
         <li class="govuk-tabs__list-item">
           <a class="govuk-tabs__tab" href="#versions">
             Versions
           </a>
         </li>
         <li class="govuk-tabs__list-item">
           <a class="govuk-tabs__tab" href="#iterations">
             Iteration notes
           </a>
         </li>
         <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
           <a class="govuk-tabs__tab" href="#documents">
             Documents
           </a>
         </li>
         </ul>
      <div class="govuk-tabs__panel" id="candidate">
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <br>
      <h3 class="govuk-heading-l">Candidate</h3>

      <h3 class="govuk-heading-m">Enter PEC info</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/previous-versions/candidate-ver2/candidate-pec-info/start">Start page</a> (start of journey)
        </li>
      </ul>

      <br>

      <h3 class="govuk-heading-m">Hub view</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/previous-versions/candidate-ver2/sign-in/sign-in-candidate">Sign in</a> (start of journey)
        </li>
      </ul>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/previous-versions/candidate-ver2/sign-in/search-msg">Search page</a> with new message badge
        </li>
      </ul>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/previous-versions/candidate-ver2/hub/candidate/tab-pec-list-msg">hub page with 'candidate action needed' status</a> with new message badge
        </li>
      </ul>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/previous-versions/candidate-ver2/hub/candidate/tab-pec-list-extended-tags">hub page with more descriptive 'In Progress' tags</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Formal offer</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/previous-versions/candidate-ver2/candidate-formal-offer/formal-offer">Formal offer page</a> (start of journey)
        </li>
      </ul>


</div>
</div>
</div>

<div class="govuk-tabs__panel" id="recruiter">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<br>


<h3 class="govuk-heading-l">Recruiter</h3>


<h3 class="govuk-heading-m">Hub view</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/previous-versions/candidate-ver2/sign-in/sign-in?duplicate-eehc=no">Sign in</a> (start of journey)
  </li>
</ul>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/previous-versions/candidate-ver2/sign-in/sign-in?duplicate-eehc=yes">Sign in</a> (start of duplicate check journey)
  </li>
</ul>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/previous-versions/candidate-ver2/hub/tab-pec-list?duplicate-eehc=no">PEC hub page</a> (skip sign in, work allocation etc)
  </li>
</ul>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="/previous-versions/candidate-ver2/hub/tab-pec-list?duplicate-eehc=yes">PEC hub page with duplicate check</a> (skip sign in, work allocation etc)
    </li>
</ul>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/previous-versions/candidate-ver2/hub/tab-pec-list-message">PEC hub page with unread message notification</a>
  </li>
</ul>
<ul class="govuk-list govuk-list--bullet">
<li>
  <a href="/previous-versions/candidate-ver2/hub/eehc-review-hmrc?eehc-status=in-progress">EEHC task journey</a>
</li>
</ul>
<ul class="govuk-list govuk-list--bullet">
<li>
  <a href="/previous-versions/candidate-ver2/hub/tab-nen?nen=yes">NEN checking journey</a> (Vacancy Holder and NEN checker e.g. GRS)
</li>
</ul>


<h3 class="govuk-heading-m">Recruiter (manager)</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/previous-versions/candidate-ver2/recruiter-manager/sign-in">Sign in</a> (start of journey)
  </li>
  <li>
    <a href="/previous-versions/candidate-ver2/recruiter-manager/recruiter-manager-dashboard">Dashboard - multiple candidates & search</a>
  </li>
  <li>
    <a href="/previous-versions/candidate-ver2/recruiter-manager/pec-task-list">PEC task list</a>
  </li>
  <li>
    <a href="/previous-versions/candidate-ver2/recruiter-manager/change-status-prev-civil-service">Change task status</a>
  </li>
</ul>
</div>
</div>
</div>

<div class="govuk-tabs__panel" id="documents">

<br>
<h3 class="govuk-heading-l">Documents</h3>


<p><a href="https://cshrdigitalandanalysis.atlassian.net/l/cp/q31fo8gM" target="_blank">Confluence page - prototype login etc</a></p>
<p><a href="https://cshrdigitalandanalysis.atlassian.net/l/cp/JB8b1FWo" target="_blank">Confluence page - process flow for each check</a></p>

</div>

<br>
 <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="versions">
   <table class="govuk-table">
               <caption class="govuk-table__caption govuk-heading-l">Previously tested versions</caption>
               <thead class="govuk-table__head">

                 <tr class="govuk-table__row">
                   <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
                   <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>

                   <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Status</th>
                 </tr>
               </thead>
               <tbody class="govuk-table__body">
                 <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">
                     <a href="/previous-versions/candidate-ver2/index" target="_blank">Candidate v2</th>
                     <td class="govuk-table__cell">January 2023</td>

                     <td class="govuk-table__cell">
                       <strong class="govuk-tag govuk-tag--green">
                         tested
                       </strong>
                     </tr>
                 <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">
                     <a href="/previous-versions/candidate-ver1/index" target="_blank">Candidate v1</th>
                     <td class="govuk-table__cell">December 2022</td>

                     <td class="govuk-table__cell">
                       <strong class="govuk-tag govuk-tag--green">
                         tested
                       </strong>
                     </tr>

                     <tr class="govuk-table__row">
                       <th scope="row" class="govuk-table__header">
                         <a href="/previous-versions/recruiter-ver4/index" target="_blank">Recruiter v4</th>
                         <td class="govuk-table__cell">January 2023</td>

                         <td class="govuk-table__cell">
                           <strong class="govuk-tag govuk-tag--green">
                             tested
                           </strong>
                         </tr>
                 <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">
                     <a href="/previous-versions/recruiter-ver3/index" target="_blank">Recruiter v3</th>
                     <td class="govuk-table__cell">December 2022</td>

                     <td class="govuk-table__cell">
                       <strong class="govuk-tag govuk-tag--green">
                         tested
                       </strong>
                     </tr>
                 <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">
                     <a href="/previous-versions/recruiter-ver2/index" target="_blank">Recruiter v2</th>
                     <td class="govuk-table__cell">Nov 2022</td>

                     <td class="govuk-table__cell">
                       <strong class="govuk-tag govuk-tag--green">
                         tested
                       </strong>
                     </tr>
                 <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">
                     <a href="/previous-versions/recruiter-ver1/index" target="_blank">Recruiter v1</th>
                     <td class="govuk-table__cell">Nov 2022</td>

                     <td class="govuk-table__cell">
                       <strong class="govuk-tag govuk-tag--green">
                         tested
                       </strong>
                     </tr>
                 </tbody>
               </table>
</div>

<div class="govuk-tabs__panel" id="iterations">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <h3 class="govuk-heading-l">Iteration notes</h3>
  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="#cv2">Go to Candidate v2 notes</a>
    </li>
    <li>
      <a class="govuk-link" href="#cv1">Go to Candidate v1 notes</a>
    </li><br>
    <li>
      <a class="govuk-link" href="#rv4">Go to Recruiter v4 notes</a>
    </li>
    <li>
      <a class="govuk-link" href="#rv3">Go to Recruiter v3 notes</a>
    </li>
    <li>
      <a class="govuk-link" href="#rv2">Go to Recruiter v2 notes</a>
    </li>
    <li>
      <a class="govuk-link" href="#rv1">Go to Recruiter v1 notes</a>
    </li>
  </ul>

  <br>

  <h3 class="govuk-heading-m" id="cv2">Candidate v2</h3>

  <a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1673253493091/ce0b1b2dae2c9add5996c64c6e977b1f840f4ea8?sender=u21f36a9fedce292b06138582" target="_blank">Candidate v2 UR (Mural board)</a>
  <br>
  {{ govukBackLink({
    text: "Back to top",
    href: "#iterations"
  }) }}
  <br>
  <h3 class="govuk-heading-m">Design questions</h3>
  <h3 class="govuk-heading-s" style="text-decoration:underline">Would more descriptive status tags help candidates feel 'in the loop'?</h3>
  <p>Candidates can see status tags on each check, but the info is limited e.g. 'Not started', 'In progress'. We wanted to test whether expanding the description (within the limited space we have) would give a candidate a better idea of how it was progressing, and - importantly - whether the check was currently with an external body such as DBS or a health provider, where we have less control over progress and timescales.</p>
  <h3 class="govuk-heading-s">What we tried</h3>
  <p>We expanded some of the 'In progress' tags to include details such as 'With external health provider', 'With GRS' and 'With Disclosure Scotland'.</p>

  <h3 class="govuk-heading-s">What we found</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Not everyone knew what GRS was, so the content would need to be refined to make it clearer where the check was in this scenario. Some suggested that internal depts didn't need to be mentioned, only if the check had gone outside govt</li>
    <li>Not everyone knew what the DBS / Disclosure Scotland / AccessNI wording referred to</li>
    <li>Candidates felt that although useful, the extended tags might still not offer enough info or reassurance. They were, however, keen on an idea we floated during UR: for the PEC system to automatically contact the candidate with updates - by email, text or similar - at regular intervals, such as weekly or fortnight</li>
  </ul>

  <h3 class="govuk-heading-s" style="text-decoration:underline">Could we produce a formal offer journey that would help a candidate understand their offer, what the next steps would be, etc?</h3>
  <p>After PECs and NEN are complete, the candidate would normally receive a formal offer. This has been criticised for being too impersonal and lacking in the info a candidate needs at this point.</p>
  <h3 class="govuk-heading-s">What we tried</h3>
  <p>We created a formal offer page with content specific to their role.</p>
  <p>We also gave the user the option to accept, decline or opt to speak to the hiring manager.</p>
  <h3 class="govuk-heading-s">What we found</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>there was some content / links that were considered unnecessary e.g. guidance on grades, list of benefits (especially for internal candidates)</li>
    <li>some content was missing e.g. terms and conditions / contract</li>
    <li>users expected contact details for the hiring manager so they could content them, rather than be told to wait for the HR to contact the candidate</li>
    <li>the confirmation option was well received, although some considered it unnecessary for the 'contact hiring manager' option</li>
    <li>users expected a grace period where they could change their mind, especially after declining the job</li>
    <li>some users didn't like the word 'formal' and thought it unnecessary</li>
    <li>most users expected a phone call to be offered the job, or an email</li>
    <li>a suggestion was to include a box for reasons for declining, to help VHs assess why campaigns were not successful</li>
    <li>generic links to your new dept or to search for another job were not always considered welcome</li>
  </ul>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h3 class="govuk-heading-m" id="cv1">Candidate v1</h3>

  <a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1671442730244/7827f153a14762f8321f27c3d0525bf92081bf9e?sender=u21f36a9fedce292b06138582" target="_blank">Candidate v1 UR (Mural board)</a>
  <br>
  {{ govukBackLink({
    text: "Back to top",
    href: "#iterations"
  }) }}
  <br>
  <h3 class="govuk-heading-m">Design questions</h3>
  <h3 class="govuk-heading-s" style="text-decoration:underline">Could we reduce the info a candidate needs to input for PEC checks e.g. pulling info from existing uploads, filtering out unnecessary checks / questions?</h3>
  <p>Candidates have already had to enter a lot of information before getting to the pre-employment check stage. They then have to enter more / answer multiple questions, sometimes (a) entering data they've already told us, and (b) entering data for checks that may not be necessary for the role.</p>
  <h3 class="govuk-heading-s">What we tried</h3>
  <p>We created a scenario where already submitted info - in this case employment history from an online CV - was pulled into the relevant check, and displayed back to the candidate with the option to submit it as is or amend and submit if necessary.</p>
  <p>We also gave a small list of filter questions at the start of the process, which would eliminate unnecessary checks and so save the candidate from time-consuming data entry with no value to the application.</p>
  <h3 class="govuk-heading-s">What we found</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>filter questions worked well in terms of reducing unnecessary checks</li>
    <li>there wasn't much evidence that users understood that their answers led to a bespoke list of checks (but there is some debate about whether this matters?)</li>
    <li>users were happy to see info pulled in from another source, and most would review it before accepting it as accurate</li>
  </ul>

  <h3 class="govuk-heading-s" style="text-decoration:underline">Could we provide an adequate idea of timescales and check progress to the candidate?</h3>
  <p>The time checks take - and the lack of visibility on timescales - is a huge issue for recruitment. Candidates often drop out of the process after spending long periods in 'The Black Hole' with no idea of progress.</p>
  <h3 class="govuk-heading-s">What we tried</h3>
  <p>We asked candidates for suggestions about how and when they would want to be kept informed e.g. by logging into their dashboard and seeing progress? Proactive contact by the vacancy holder?</p>
  <p>We also asked them about how we could show timescales for checks when we don't know how long they will take.</p>
  <h3 class="govuk-heading-s">What we found</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>there were mixed opinions on the best way to keep informed / give timescales</li>
    <li>some felt candidate hub view was very useful with status tags</li>
    <li>some wanted specific timescales for checks, but had no definitive idea of how to show timescales on checks outside of govt e.g. health check, overseas check</li>
    <li>it was suggested that some candidates wouldn't actively log into their account to see progress, so some sort of prompt might be needed e.g. email, text</li>
  </ul>

  <h3 class="govuk-heading-s" style="text-decoration:underline">Would the candidate see comms that required action from them?</h3>
  <p>One way delay can happen with PECs is if candidates need to perform an action, such as uploading documentation, but don't know they are required to do anything.</p>
  <h3 class="govuk-heading-s">What we tried</h3>
  <p>We prototyped some mock messages from vacancy holders requesting document uploads, to see if the candidate would interact with the message and act accordingly. These were highlighted on the hub view using the <a href="https://design-patterns.service.justice.gov.uk/components/notification-badge/" target="_blank">Notification Badge component</a>.</p>
  <h3 class="govuk-heading-s">What we found</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>the notification badge was obvious and eye-catching</li>
    <li>candidates said they were drawn to the badge to see what they needed to do</li>
    <li>they could easily find and read the action message</li>
    <li>they were confident that they could do the action needed, and were reassured that progress was continuing</li>
  </ul>

  <h3 class="govuk-heading-s" style="text-decoration:underline">Could the 'single view' design enhanced in Recruiter v3 be as useful for a candidate as for other users?</h3>
  <p>This was our first chance to get candidate feedback on any design that showed how their checks were progressing. This is something they don't currently have - candidates either have to sit and wait for rare and sporadic updates, or actively contact the vacancy holder / checker / recruiting dept for an update.</p>
  <h3 class="govuk-heading-s">What we tried</h3>
  <p>We gave candidates a simplified version of the single view hub tested previously, to see if it was helpful for keeping tabs on progress of checks.</p>
  <h3 class="govuk-heading-s">What we found</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>candidates liked the hub and found it useful for getting some idea of progress</li>
    <li>they liked seeing a history of what had gone on</li>
    <li>there was a concern that messages sent and received in the service would have to be replicated from their own email conversations if they'd spoken outside of the service</li>
    <li>some candidates liked the idea of having a way to contact the vacancy holder or checker for an update if nothing had changed for some time</li>
  </ul>

  <h3 class="govuk-heading-s" style="text-decoration:underline">Would direct updates from govt (e.g. by email or text) be useful for a candidate?</h3>
  <p>To help candidates stay updated on progress, we considered whether we could proactively contact the candidate and tell them what was happening with their pre-employment checks.</p>
  <h3 class="govuk-heading-s">What we tried</h3>
  <p>We asked candidates how useful this would be, how they would want to be contacted, and how frequently we should do this.</p>
  <p>We also looked into some of the technicalities and costs of different methods e.g. using <a href="https://www.notifications.service.gov.uk/" target="_blank">Notify</a> to send texts</p>
  <h3 class="govuk-heading-s">What we found</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>there were mixed views on whether email or text was better: some preferred text as they felt they'd always read a text, but often wouldn't read an email</li>
    <li>there were mixed views on how often, and why, we should contact the candidate: some suggested a weekly roundup, others after every check was completed, others at the end of the whole check period</li>
    <li>Email would be free via Notify, but texts are restricted to 40,000pa. If texts were to be used, then a cost would be incurred or another provider would be needed</li>

  </ul>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-m" id="rv4">Recruiter v4</h3>
<a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1674193610237/a6b5dcd1548450bf0f71c05f1df72fe5b87a3259?fromVisitorModal=true&sender=u21f36a9fedce292b06138582" target="_blank">Recruiter v4 UR (Mural board)</a><br>
{{ govukBackLink({
  text: "Back to top",
  href: "#iterations"
}) }}<br>

<h3 class="govuk-heading-m">Design questions</h3>
<h3 class="govuk-heading-s" style="text-decoration:underline">If a Vacancy Holder could automatically check some of the NEN data they'd entered, would that save time / money later in the process?</h3>
<p>At the moment, a Vacancy Holder (VH) enters lots of NEN data which is then sent to GRS to check (at least for Home Office vacancies). GRS have to perform a lot of time-consuming manual checks to see if there are any errors e.g. vacancy is shown as London rated but office address is outside London. These errors have to be flagged to the VH and fixed.</p>
<h3 class="govuk-heading-s">What we tried</h3>
<p>We showed users a version where the VH had entered all of the NEN data, and there was an option to automatically run checks to find discrepancies. Any discrepancies could be fixed there and then, before passing the corrected data to GRS.</p>
<p>We adapted the <a href="https://design-patterns.service.justice.gov.uk/components/ticket-panel/">ticket panel component</a> we had tested successfully in V3R to highlight discrepancies, using a red border. Initially we had considered using the standard error summary and error message patterns, but as these were discrepancies rather than data entry validation errors these did not seem the right patterns to use.</p>
<p>We also continued to use the <a href="https://design-system.service.gov.uk/components/tag/">status tag pattern</a> to both warn of discrepancies and to describe the discrepancy itself.</p>
<h3 class="govuk-heading-s">What we found</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>users want as much data as possible to be prepopulated from other sources e.g. vacancy details. One user estimated that only about 25% of NEN data is currently prepopulated</li>
  <li>users liked the automatic checking as it flagged any discrepancies and allowed them to rectify these discrepancies easily. However, it was also noted that VHs would manually check their entries anyway so an automatic check would not be a complete time-saver for them</li>
  <li>the red panel design worked well and was easily identified as the location of the discrepancy</li>
</ul>

<h3 class="govuk-heading-m">Other findings</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>users did not like the accordion pattern used to divide the NEN form into distinct sections. They preferred to be able to see the whole form in one section, as they were used to scrolling up and down quickly</li>
  <li>the timeline was not considered very useful for VHs. The info it contained was too detailed for their needs. This could easily be reduced based on their login creds, but there were other issues with the timeline anyway: namely that they could find the same info on the History tab if they needed to, valuable form space was taken up by the timeline and it was leading to a more cluttered look than was necessary</li>
  <li>a Save function was considered very important. vX does not allow this currently, so data has to be collated outside of vX until everything is present, and then entered in one go</li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-m" id="rv3">Recruiter v3</h3>
<a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1670333363187/c59c010660094cf21f31d478172e120c5d22300d?sender=u21f36a9fedce292b06138582" target="_blank">Recruiter v3 UR (Mural board)</a><br>
{{ govukBackLink({
  text: "Back to top",
  href: "#iterations"
}) }}<br>

<h3 class="govuk-heading-m">Design questions</h3>
<h3 class="govuk-heading-s" style="text-decoration:underline">Would iterating the 'single view' design into a tabbed layout allow the user easier access to more info / functionality?</h3>
<p>There is a lot of information in PEC and a lot of user needs requiring quick and easy access to info and functionality. It was felt that by 'compartmentalising' the info in a way that users could move quickly between info / function types that it would make PEC progress both quicker and easier.</p>
<h3 class="govuk-heading-s">What we tried</h3>
<p>We used the <a href="https://design-system.service.gov.uk/components/tabs/" target="_blank">tabs component</a> to sectionalise the PEC info into easily accessible chunks. Not only could users navigate around each tab as needed, but some tab content could link to other tabs directly (e.g. the 'Pre-employment checks' tab linked to the 'candidate PEC info' tab when a user asked to view the info entered for a particular check), saving users from bouncing between tabs when looking for info.</p>
<h3 class="govuk-heading-s">What we found</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>the concept of tabs was familiar to all users</li>
  <li>tabs were universally welcomed and easily navigated, allowing users access to lots of info quickly</li>
  <li>there were no recommendations for adding or removing any tabs</li>
</ul>

<h3 class="govuk-heading-s" style="text-decoration:underline">Could we design a way to reuse the result of a previous check, saving time for all users?</h3>
<p>If a candidate has more than one application in, or has recently applied for another govt job, then a particular check may have already been done under that other application. If the result of that existing check (known as a 'duplicate check') could be reused, it would save the candidate re-entering the same information, and the checker having to do the same check again.</p>

<h3 class="govuk-heading-s">What we tried</h3>
<p>We created a version of the prototype where a duplicate check warning would appear to the checker. This would then give them additional task options - view the duplicate check (to see the result, how long ago it was, which application it was done under), and to ask the vacancy holder of the current application if the check result could be reused rather than done from scratch.</p>
<p>The duplicate check warning and options were shown in a visually obvious <a href="https://design-patterns.service.justice.gov.uk/components/ticket-panel/" target_"blank">ticket panel component</a> which was adapted to show a red eyecatching edge.</p>
<p>Permission could be asked by sending a message, and receiving confirmation back. This would then allow the user to mark the decision on the check and prevent duplicate effort.</p>
<h3 class="govuk-heading-s">What we found</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>one user did not understand what the status tag meant that informed them there was a duplicate check available</li>
  <li>the display of duplicate check options was easily recognised and visually successful</li>
  <li>all users saw value in being able to use an existing check, allowing them to save time and effort</li>
  <li>being able to request permission via the in-service messaging option was universally liked</li>
  <li>users liked and utilised the history showing messages going back and forth between the checker and the vacancy holder</li>
</ul>

<h3 class="govuk-heading-s" style="text-decoration:underline">Would highlighting new contact from another user be useful?</h3>
<p>Timely and easy communication is seen as a major step towards avoiding the progress 'black hole' where it is difficult for any user to know what is happening with a particular check. We believed that we could help this by not only giving a 'Contact' tab where users could send or receive messages, but also by emphasising when a new message was available. This would allow the reader to see and action the message as soon as possible.</p>
<h3 class="govuk-heading-s">What we tried</h3>
<p>We used the HMRC and MOJ <a href="https://design-patterns.service.justice.gov.uk/components/notification-badge/" target="_blank">Notification Badge component</a> to show that a new message was available on the 'Contact' tab, leading the user to the tab where the same component flagged up a new message that could be read.</p>
<h3 class="govuk-heading-s">What we found</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>one user did not spot the notification badge</li>
  <li>other users were quickly able to see that there was a new message to read</li>
  <li>users were able to navigate to the new message and easily read it</li>
  <li>the ability to reply to the message there and then was welcomed</li>
</ul>

<h3 class="govuk-heading-m">Other work - iterations from Recruiter v2</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>complete task journey replicated (EEHC), although no direct access to HMRC's PAYE system was implied to see if a lack of integration would raise issues / concerns</li>
  <li>comms section expanded to add reply functionality, history entries, view previous messages</li>
  <li>timeline filter</li>
  <li>option to allocate task to another user</li>
  <li>download / print / share timeline</li>
  <li>central upload area</li>
  <li>candidate email clickable, phone number added to key details bar</li>
</ul>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-m" id="rv2">Recruiter v2</h3>
<a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1669195081857/9ff2895767bd3e1b9fb3476030b7ef59964b9c9d?sender=u21f36a9fedce292b06138582" target="_blank">Recruiter v2 UR (Mural board)</a><br>
{{ govukBackLink({
  text: "Back to top",
  href: "#iterations"
}) }}<br>

<h3 class="govuk-heading-m" id="v2">Design questions</h3>

<h3 class="govuk-heading-s" style="text-decoration:underline">Would a simple dashboard (showing a list of PECs, their progress, and the option to give each one a status when complete) be good enough for users?</h3>
<p>Firstly, we considered a risky assumption - that a fully fledged system for PECs was not actually needed at all, and instead a simple 'checklist' page which a user could tick when checks were completed would be an improvement on the 'as is' situation.</p>
<h3 class="govuk-heading-s">What we tried</h3>
<p>We asked users whether a simple checklist would be be beneficial rather than building something more complex.</p>
<h3 class="govuk-heading-s">What we found</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>this would not offer much improvement (if any) for the main user types - they already had a clunky means of seeing check status in vX</li>
  <li>it did not solve the problem of users needing multiple systems to action tasks, check progress etc</li>
  <li>it may have had limited benefit for vacancy holders and candidates if they could access it to see progress of checks</li>
</ul>

<h3 class="govuk-heading-s" style="text-decoration:underline">Can a task list view of PECs work for all users: checkers, managers, vacancy holders, candidates?</h3>
<p>The IxD viewpoint was that a single design (task list and pages hanging off this) could be used for all user types  - e.g. checkers, managers, vacancy holders, candidates - rather than design a different set of screens for each user type. The 'single view' design would allow page elements to be shown, hidden or restricted depending on the user that was logged in (with the assumption that login credentials would drive what could and could not be seen / done).</p>
<h3 class="govuk-heading-s">What we tried</h3>
<p>We iterated the Recruiter V1 task list to create a checker-friendly task list and tested it with checkers and non-checkers, to see if all users could use it successfully (plans were made to test it with candidates in Candidate v1).</p>
<h3 class="govuk-heading-s">What we found</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>the 'single view' was easily used and widely liked by all users regardless of their role</li>
  <li>the simple and clean design was a significant improvement over current systems like vX</li>
  <li>showing or hiding elements could easily be done to cater for relevant user group</li>
  <li>showing checks that were not needed was worthwhile for reassurance</li>
</ul>

<h3 class="govuk-heading-s" style="text-decoration:underline">Would all workflow allocation types - single task allocated, multiple tasks allocated, entire candidate allocated - be feasible?</h3>
<p>As checkers are one of the biggest PEC user groups, we wanted to challenge how they were currently allocated work (one isolated task at a time) with two other workflow options: giving them a choice from multiple tasks, and allocating an entire candidate - and all of the checks that candidate needed - to the checker.</p>
<h3 class="govuk-heading-s">What we tried</h3>
<p>We designed three workflow dashboards - a single task, multiple tasks and an entire candidate - and tested all three with users. The designs all used the <a href="https://design-system.service.gov.uk/components/tabs/" target="_blank">tabs component</a> to show both available tasks and user work times (to replicate what many are currently used to on the Pre-employment Allocation tool).</p>
<h3 class="govuk-heading-s">What we found</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>users understood all allocation designs</li>
  <li>there was no significant preference for any of the workflow suggestions - opinions were quite individual and sometimes depended on experience (e.g. had worked a candidate view before) or motivational (e.g. wanted to see a list of tasks going down as it was worked)</li>
  <li>we should consider whether giving users a choice when signing in would cover all needs</li>
</ul>

<h3 class="govuk-heading-s" style="text-decoration:underline">Would access to comms - and the ability to reply to them - be useful?</h3>
<p>A significant issue for users like checkers is that they have to use multiple systems to send and receive comms with candidates, vacancy holders etc. We wanted to see if building in some basic comms info would be beneficial.</p>

<h3 class="govuk-heading-s">What we tried</h3>
<p>We added fictional emails into the timeline, with the option to reply to that email from the timeline.</p>
<h3 class="govuk-heading-s">What we found</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>users often spotted the email in the timeline</li>
  <li>they liked the opportunity to reply there and then</li>
  <li>showing a full email in the timeline could be overkill, especially if there was a long email conversation leading to multiple entries in the timeline</li>
</ul>

<h3 class="govuk-heading-m">Other work - iterations from Recruiter V1</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>expanding timeline on task list page was dropped, as the need for subsequent task options meant jumping to another page would usually be necessary, defeating the purpose of quickly showing the timeline</li>
  <li>timeline content was updated to try and reflect more real-world scenarios for PECs</li>
  <li>key details bar was improved - reduced in size, improved content e.g. candidate's email address</li>
  <li>status tag content was improved to show outcome of check e.g. PASSED, RISK ASSESSMENT NEEDED</li>
  <li>ability to change task status was added</li>
</ul>
<p></p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h3 class="govuk-heading-m" id="rv1">Recruiter v1</h3>
<a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1667981611407/ae4e09b8751dfb026acb31ec3b4797067d4641a1?sender=u21f36a9fedce292b06138582" target="_blank">Recruiter v1 UR (Mural board)</a><br>
{{ govukBackLink({
  text: "Back to top",
  href: "#iterations"
}) }}<br>

<p>Initial design was agreed with Service Designer (Oceanne) and limited to:</p>
<ol class="govuk-list govuk-list--number">
  <li>sign in page</li>
  <li>2FA page</li>
  <li>user dashboard</li>
  <li>list of PECs</li>
</ol>
<p>Was agreed to reuse existing design of pages 1-3 from existing campaign / sift prototype, as these had been extensively tested already. The designs were not refined for PEC, as they were simply to drive conversation about what a user would want to see on each page.</p>
<p> Page 4 (list of PECs) utilised the <a href="https://design-system.service.gov.uk/patterns/task-list-pages/" target="_blank">existing task list pattern</a>, as (a) it was a standard pattern and (b) it had already been used and tested in campaign / sift prototype.</p>
<p>The <a href="https://design-system.dwp.gov.uk/components/key-details-bar"  target="_blank">DWP Key Details Bar</a> - already tested on agent-facing services - was added to give prominent info on the candidate's details at all times.</p>
<p>The user was given two designs for viewing historical info on each check. Both designs used the same <a href="https://design-patterns.service.justice.gov.uk/components/timeline/" target="_blank">timeline component</a> to display the info, as this was a tested pattern and the IxD (Jonathan) had also worked on DWP services where this had been extensively tested (e.g. Winter Fuel Payments, Get your State Pension). The timeline was populated with dummy content to drive requirements from the user during testing.</p>
<p>The first design used the <a href="https://design-system.service.gov.uk/components/details/" target="_blank">Reveal pattern</a> to show the timeline when the task name was clicked (the reveal was amended to hide the arrow icon to retain the task list look and feel).</p>
<p>The second design took the user to a new page which displayed the same timeline info.</p>
<p>At all relevant points, the <a href="https://design-system.service.gov.uk/components/tag/" target="_blank">tag component</a> was used to indicate status of the check at that point.</p>
</div>
</div>
</div>

</div>
    </div>
  </div>

{% endblock %}
