{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sign in – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner" style="border-bottom:none">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      Your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    <ul class="js-signout" id="navigation" style="font-size:19px; margin-top:0px">
      <li class="content"><a href="">Home</a></li>
      <li class="content"><a href="">Cymraeg</a></li>
    </ul>
  </p>
</div>

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Sign in</h1>

<p>Sign in or <a href="#">create an account</a> to get started.</p>


{{ govukInput({
  label: {
    text: "Email address",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  id: "email",
  name: "email",
  classes: "govuk-!-width-one-half"
}) }}

{{ govukInput({
  label: {
    text: "Password",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  id: "password",
  name: "password",
  type: "password",
  classes: "govuk-!-width-one-half"
}) }}



{{ govukButton({
  text: "Sign in",
  href: "search"
}) }}


<p><a href="#">Forgotten your password?</a></p>

</div>
</div>
{% endblock %}
