
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">PEC prototypes</h1>

      <h2 class="govuk-heading-l">Vacancy Holder</h2>
      <p>
        {{ govukButton({
          text: "Dashboard v1",
          href: "vacancy-holder/sign-in"
        }) }}
      </p>

      <h2 class="govuk-heading-l">Recruiters</h2>
      <p>
        {{ govukButton({
          text: "Dashboard v1",
          href: "grs/sign-in"
        }) }}
      </p>

    </div>
  </div>

{% endblock %}
